@import "mixins";
@import "variables";

.app_container {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}


.header__container {
  display: flex;
}

.header__wrapper {
  width: auto;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo-text {
  margin: 36px 0 30px;
  font-family: 'Mystery Quest', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
  color: #291507;
}

.logo-icon {
  margin-left: 8px;
  width: 30px;
  height: 30px;
}

.footer-container {

  background-color: #000000;
  border-radius: 42px 42px 0 0;

  .footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 37px 108px;

    @include responsive(phone) {
      flex-direction: column;
      align-items: flex-start;
      padding: 20px 20px;
    }

    .footer-block {
      display: flex;

      .footer-title {
        font-family: 'Mystery Quest', cursive;
        font-size: 24px;
        line-height: 33px;
        color: #FFFFFF;

        @include responsive(phone) {
          font-size: 14px;
        }
      }

      .footer-icon {
        margin-left: 8px;
        width: 30px;
        height: 30px;
      }
    }


    .footer-text {
      font-size: $fontSizeDefault;
      line-height: 22px;
      color: #FFFFFF;
      @include responsive(phone) {
        margin-top: 12px;
        font-size: 14px;
      }
    }
  }

}

.relative-loader {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.fixed-loader {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.wiki-logo {
  height: 60px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .wiki-logo {
    animation: wiki-logo-spin infinite 1s linear;
  }
}

@keyframes wiki-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

